extends layout_private

block content
  //-=======================>
  //- Sidebar 
  div(class="span3" id="sidebar")

  //-=======================>
  //- Content 
  div(class="span9" id="content")
    div(class="row")
      div(class="span3 offset3")   
        p(class="lead")
        |Cargando ...
        div(class="progress progress-striped active")
          div(class="bar" style="width: 100%;")