extends layout_private

block content
  //-=======================>
  //- Sidebar
  div(class="span3" id="sidebar")

  //-=======================>
  //- Content 
  div(class="span9")
    div(id="loader")
      div(class="modal-backdrop fade in")
        span(class="loading-spinner" style="position: absolute;left: 50%;top: 50%;margin-left: -7px;margin-top: -7px;")
          span
    div(id="notifier" style="padding: 15px 0px 15px; display:none;")
    div(id="content")
