<% if (collection.length > 0) { %>
	<table class="table table-hover">
		<thead>
			<tr>
				<th width="40%"><%= tbl_header_name %></th>
				<th width="40%"><%= tbl_header_email %></th>
				<th width="20%"></th>
			</tr>
		</thead>	
		<tbody>
		<% _.each(collection, function (item) { %>
		    <tr>
		    	<td><%= item.name %></td>
		    	<td><a href="mailto:<%= item.email %>"><%= item.email %></a></td>
		    	<td>
		    		<div class="btn-group">
					  	<a href="<%= link_edit.replace(":id", item._id) %>" class="btn btn-small btn-primary"><%= link_label_edit %></a>
					  	<a href="<%= link_delete.replace(":id", item._id) %>" class="btn btn-small btn-danger"><%= link_label_delete %></a>
					</div>
		    	</td>
		    </tr>
		<% }) %>
		</tbody>
	</table>
	<ul class="pager">
	  	<li class="previous <% if (!has_prev_page) { %>disabled<% } %>">
	    	<a id="prev-page">&larr; <%= link_label_prev_page %></a>
	  	</li>
	  	<li class="next  <% if (!has_next_page) { %>disabled<% } %>">
	    	<a id="next-page"><%= link_label_next_page %> &rarr;</a>
	  	</li>
	</ul>
<% } %>