<div>
	<h2><small><%= legend %></small></h2>
	<hr>
</div>
<% if (count_records === 0 && !filter) { %>
	<p><%= no_records %></p>
<% } else { %>
	<div class="navbar-search pull-right">
	  		<input type="text" class="search-query" placeholder="<%= input_search_placeholer %>" id="input-search">
	</div>
	<% if (count_records === 0 && filter) { %>
		<p><%= not_found_records %> <strong>"<%= filter %>"</strong>, <a id="btn-remove-filter" style=" cursor: pointer"><%= btn_label_remove_filter %></a>.</p>
	<% } %>
	<% if (count_records > 0 && filter) { %>
		<p><%= found_records %> <strong>"<%= filter %>"</strong>, <a id="btn-remove-filter" style=" cursor: pointer"><%= btn_label_remove_filter %></a>.</p>
	<% } %>	
<% } %>