<div class="well">
    <ul class="nav">
        <ul class="nav nav-list">
            <% _.each(collection, function (item) { %>
                <% if (item.title) { %>
                    <!--<li class="divider"></li>-->
                    <li class="nav-header"><%= item.title %></li>
                <% } %>
                
                <% if (item.description) { %>
                    <li <% if (item.url == active) { %> class="active" <% } %>><a href="#<%= item.url %>"><%= item.description %></a></li>
                <% } %>
            <% }) %>
        </ul>
    </ul>
</div>