<div class="animated fadeIn">
	<h2><small><%= legend %></small></h2>
	<hr>
	<p id="question-confirm-delete">
		<%= question_confirm_delete %>
	</p>
	<p>
		<strong><%= label_name %></strong>
	</p>
	<p>
		<%= model.name %>
	</p>
	<p>
		<strong><%= label_email %></strong>
	</p>
	<p>
		<%= model.email %>		
	</p>
	<p>
		<button type="button" class="btn btn-danger btn-small" id="btn-destroy"><%= btn_label_destroy %></button>
		&nbsp;
		<a href="<%= link_back_to_list %>"><%= link_label_back_to_list %></a>
	</p>
</div>